.Div {
  &.text-center {
    &,
    & * {
      text-align: center;
    }
  }
  &.text-start {
    &,
    & * {
      text-align: right;
    }
  }
  &.text-end {
    &,
    & * {
      text-align: left;
    }
  }
}
