@use "../../styles" as *;

.Container {
  position: fixed;
  z-index: $zindex-modal;
  bottom: 20px;
  width: 85%;
  left: 7.5%;

  background-color: $white;
  @include flex;
  justify-content: space-between;

  padding: 10px 40px;

  box-shadow: $shd-m $shd-dark;
  border-radius: border-radius("medium");
}

@media (max-width: $bp-tablet) {
  .Container {
    padding-block: 30px;
    width: 100%;
    bottom: 0;
    left: 0;
    flex-direction: column;
    gap: 20px;
    border-radius: unset;

    span {
      text-align: center;
    }
  }
}
