@use "../../../../styles" as *;

.Body {
  @include flex-col;
  gap: 5px;

  & > div {
    width: 100%;
  }
}

.body__item {
  @include flex-between;
  gap: 20px;
  padding: 10px;
  color: $dark;
  border-radius: border-radius("small");

  &:hover {
    background: $hvr-gray;

    & .Content__head * {
      text-decoration: underline;
    }
  }
}

.thumbnail {
  position: relative;
  flex: 1;
  @include flex;

  @media (max-width: $bp-mobile) {
    & {
      flex: 2;
    }
  }

  & .btn {
    position: absolute;

    aspect-ratio: 1 / 1;
    width: 20%;
    border-radius: border-radius("round");

    @include flex;
    background: $primary;

    transform: rotate(90deg);

    color: $white;

    svg {
      font-size: 50%;
      margin-bottom: 2.5px;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $shd-tmp-thumbail;
    opacity: 0.25;
  }
}
.Content {
  position: relative;
  flex: 6;

  @include flex-between;
  gap: 10px;
  flex-wrap: wrap;

  & .Content__head {
    flex: 7;
  }

  & .ProgressBar {
    flex: 3;
    @include flex-col;
    gap: 5px;
  }

  & span {
    @extend .fs-sm;
  }
}
