@use "../../../../styles" as *;

.Container {
  background: $white;
  @extend .shd-4;
  border-radius: border-radius("small");

  padding: 10px;

  ul {
    list-style: none;

    padding: 10px;
    padding-bottom: 0 !important;

    @include flex-col;
    gap: 10px;
    align-items: flex-start;

    li {
      @include flex-justify-start;
      gap: 10px;

      svg {
        color: $primary;
        width: 20px;
        height: 20px;
      }
    }
  }
}
