@use "../../../../styles" as *;

.Cards {
  @include flex-wrap;
  align-items: stretch;
  max-width: 90%;
}

.Cards > div {
  position: relative;
  width: 400px;
  max-width: 90%;

  margin-top: 20px;
  @include flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;

  img {
    width: 30px;
    height: 30px;
  }
  span {
    position: relative;
    max-width: 100vh;
  }
}
