@use "../../../../styles" as *;

.QAHead {
    background-color: rgba(0, 159, 183, 0.1);

    & > div {
        @media (max-width: $bp-mobile) {
            & {
                flex-flow: column;
            }
        }
    }

    .Breadcrums {
        div {
            justify-content: start;
        }
    }

    H1 {
        font-size: font-size("ml");
    }

    .UserIcon {
        img {
            width: 20px;
        }
    }
    
    .UserName {
        font-weight: font-weight("medium");
        color: $txt_black;
    
        @media (max-width: $bp-mobile) {
            font-size: font-size("sm");
        }
    }
    
    .College {
        color: $txt_pane_gray;
        font-size: font-size("cmnt-l");
    
        @media (max-width: $bp-mobile) {
            font-size: font-size("sm");
        }
    }

    .Img {
        max-height: 211px;
        filter: contrast(0.5);
    }

    .Container {
        width: 100%;

        @media (max-width: $bp-mobile) {
            & {
                max-width: 100%;
            }
        }
        
        .ImagesWrraper {
            overflow-x: hidden;
            padding: 10px 0;
            max-width: 375px;
        }

        .Arrow {
            svg {
                stroke-width: 1.5;
            }
        }
    }

    .DotsScroll {
        @include flex;
        gap: 6px;
      
        div {
          height: 4px;
          width: 4px;
          border-radius: border-radius("round");
          background: $hvr_gray;
          cursor: pointer;
          transition: 0.25s;
      
          &:hover {
            background: $gray;
          }
      
          &[active="true"] {
            background: $primary;
          }
        }
    }
}