@use "../../styles" as *;

.Toast {
  border-left: 4px solid $primary;

  @include flex-col;
  gap: 10px;
  align-items: flex-start;
}

.Container {
  padding-block: 100px;
  @extend .page;

  display: grid;

  grid-template-columns: 3fr 7fr;

  grid-template-areas:
    "Subjects SearchBox SearchBox SearchBox"
    "Subjects Modules Modules Modules"
    "Syllabus Modules Modules Modules"
    "empty Modules Modules Modules";

  gap: 15px 30px;

  @media (max-width: $bp-tablet) {
    & {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "Subjects SearchBox"
        "Modules Modules"
        "Syllabus Syllabus";
    }
  }

  @media (max-width: $bp-mobile) {
    & {
      grid-template-columns: 1fr;
      grid-template-areas:
        "SearchBox"
        "Subjects"
        "Modules"
        "Syllabus";
    }
  }

  & > div {
    position: relative;
  }
}

.Subjects {
  grid-area: Subjects;
  max-width: 100%;
  overflow: hidden;
}

.SearchBox {
  grid-area: SearchBox;
}

.Modules {
  grid-area: Modules;
}

.Syllabus {
  grid-area: Syllabus;
}
