@use "../../../../styles" as *;

.Container {
  position: relative;
  height: 50px;
  @include flex;
  padding-inline: 10px;
  border: 1px solid #dedede;

  &:focus-within {
    border-color: $primary;
  }

  svg {
    font-size: 20px;
    color: $primary;
  }
}
